#animation_container { 
	width: 400px; 
	height: 600px; 
	background-color: pink;
}

#animation_controllers {
	width: 400px; 
	height: 60px; 
	background-color: blue; 
	z-index: 20; 
	overflow: hidden;	
}

ul li {
	display: inline-block;
}

.jp-controls li  {
	list-style-type: none;
	text-decoration: none;
	width: 40px;
	height: 40px;
}

.jp-controls li a {
	display: inline-block;
}

a.jp-play {
	width: 40px;
	height: 40px; 
	background-image: url(../img/jplayer_blue_monday.png);
	background-repeat: no-repeat;
	background-size: 200px 400px;
	background-position: 0 0;
	background-color: transparent;
}

a.jp-play:hover {
	background-position: -41px 0;
	background-color: transparent;
}

a.jp-stop {
	margin-bottom: 4px;
	width: 32px;
	height: 32px; 
	background-image: url(../img/jplayer_blue_monday.png);
	background-repeat: no-repeat;
	background-size: 200px 400px;
	background-position: -3px -81px;
	background-color: transparent;
}

a.jp-stop:hover {
	background-position: -44px -81px;
	background-color: transparent;
}

.audio .progress-bar {
	position: absolute;
	top:17px;
	height:16px;
	left:155px;
	width:150px;
	z-index: 999;
}
