@import url(http://fonts.googleapis.com/css?family=Pacifico);

#title {
	font-family: 'Pacifico', cursive;
	margin: 2% 0 2% 2%;
}

#lesson_navigation {
	margin: 0 5% 0 5%;
	background-color: #83AF9B;
}

.nav_list li {
	list-style: none;
	display: inline-block;
	width: 100px; 
	height: 50px;
}

.active_thumb {
	background-color: blue;
}

.main-nav {
	margin-top: 2%;
	margin-left: 3.5%;
	margin-bottom: 3%;
}

.controllers {
	background-color: #83AF9B;
	border-radius: 6px;
	height: 70px;
}

#breadcrumb {
	width: 500px;
	height: 50px;
	background-color: green;
}

.lessons {
	margin: 0 2% 2% 2%;
}

#map {
	margin: 0;
	width:70px;
	height: 70px;
	top: 0px;
	display: inline-block;
	background-size: 144px 140px;
	background-position: 0 70px;
	background-image: url(../img/menu_button.png);
}

#map:hover { 
	cursor: pointer;
}

#next {
	top: 0;
	width: 70px;
	height: 70px;
	display: inline-block;
	background-size: 144px 140px; 
	background-position: 0 70px;
	background-image: url(../img/next_button.png);
	float: right;
}

#next:hover {
	cursor: pointer;
}

#index-images ul li {
	display: inline-block;
}

#first-lesson, #second-lesson, #third-lesson {
	width: 70px;
	height: 70px;
	overflow: hidden;
}

#first-lesson:hover, #second-lesson:hover, #third-lesson:hover {
	cursor: pointer;
}

#first-lesson {
	background-image: url(../img/sunset1.jpg);
}

#first-lesson:hover	{
	background-image: url(../img/sunset1_hover.jpg);
}

#second-lesson {
	background-image: url(../img/sunset2.jpg);
}

#second-lesson:hover {
	background-image: url(../img/sunset2_hover.jpg);
}

#third-lesson {
	background-image: url(../img/sunset3.jpg);
}

#third-lesson:hover {
	background-image: url(../img/sunset3_hover.jpg);
}



